body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.counter {
  font-size: 1.81rem;
  /* background-color: #B53DFF; */
  background-color: #FBFBFF;
  text-align: center;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsl(277, 100%, 62%, 0.4);;
  padding: 20px;
  margin: 10px;
  color: #B53DFF;
}
button{
  font-size: 1.5rem;
  background-color: hsl(277, 100%, 62%);
  border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(277, 100%, 62%, 0.4);
    padding: 8px;
    margin: 10px;
    color: #FBFBFF;
}
button:hover{
  background-color: hsla(277, 100%, 62%, 0.9);;
}
.foot{
  padding: 20px 0;
  text-align: center;

}
.rights{
  margin: 0;
}
